body, html {
   height: 100%;
}
#image {
   background-image: url("../images/nyc4.jpg");
   height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
#side {
   height: 100%;
   background-color: rgba(77, 15, 15, 0.624);
}
.container {
   height: max-content;
}
img {
   display: block;
   margin-left: auto;
   margin-right: auto;
}
h2, h4 {
   text-align: center;
   color: white
}
p {
   text-align: center;
   color: white;
}
ul {
   list-style-type: none;
   color: white;
   text-align: center;
   justify-content: space-evenly;
   margin: auto;
   padding: auto;
   font-size: 20px;
}
a:link {
   color: white;
   background-color: transparent;
   text-decoration: none;
 }
#sideBar li:hover {
   color: grey;
   /* background-color: black; */
}
 a:visited {
   color: white;
   background-color: transparent;
   text-decoration: none;
 }
#exitBtn {
   background-color: grey;
   border: white;
   color: black;  
}
p {
   color: black;
}
#contactUl {
   color: black;
}
#contactUl li a:link {
   color: royalblue;
}
#contactUl li a:visited {
   color: royalblue;
}
#contactUl li a:hover {
   color: royalblue;
}
